* {
    margin: 0%;
    padding: 0%;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}

/*
CABEÇALHO
*/

header {
    background-color: black;
    top: 0px;
    width: 100%;
    height: 55px;
}

body {
    background-color: #F7F2F2;
}

.logo {
    float: left;
}

.logo h2 {
    color: gold;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.menu-desktop {
    display: flex;
    justify-content: flex-end;
    height: 55px;
    align-items: center;
}

.menu-desktop ul {
    display: flex;
    list-style: none;
}

.menu-desktop li {
    padding: 0 10px;
    font-weight: lighter;
}

.menu-desktop a {
    text-decoration: none;
    color: gold;
}

.menu-desktop li.selected {
    font-weight: bold;
}

.menu-desktop a:hover {
    text-decoration: underline;
}

.menu-desktop nav {
    display: flex;
}

/*
BANNER
*/
.main-bg {
    width: 100%;
    height: 450px;
    background: url("./IMG/sky-field-wind-environment-feed-machine-638728-pxhere.com.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*
MENU
*/
.menu {
    display: flex;
    width: 100%;
    background-color: black;    
}

.menu nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 5px 0 5px;
}

.menu li {
    font-weight: lighter;
}

.menu a {
    text-decoration: none;
    color: gold;
    text-align: center;
}

.menu a.selected {
    font-weight: bold;
}

/*
BOTÕES
*/
.button1 {
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.button1:hover {
    color: #adff2f;
    transition-duration: 0.5s;
}
/*
CENTRO
*/
.container {
    background-color: #F7F2F2;
    padding: 6px;
}

.container h3 {
    color: #4D780C;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.container p{
    color: #000896;
    margin: auto;
    text-align: justify;
    font-weight: bold;
}

.container ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.container li { 
    padding: 0 10px 0 0;
    font-weight: bolder;
    color: #8E1E27;
}

.IMG {
    width: auto;
    height: 500px;
    background: url("./IMG/Fábrica_Soltando_Fumaça.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*
 CONTINUAÇÃO DO TEXTO
   */
.container a {
    text-decoration: none;
    color: #000896;
}
/*
   TABELA
   */
table, td {
    border-spacing: 0px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #C73E04;
    font-weight: bold;     
}

.titletd {
    color: #4D780C;
}

.texttd {
    color: #000896;
}

/*
 FONTES DAS TABELAS
 */
.fonte {
    font-style: italic;
    text-align: center;
    color: #010666;
    font-size: 18px;
    padding: 10px 20px;
}

.fonte a {
    text-decoration: none;
}
/*
    FOOTER
*/
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: black;
    color: gold;
}

.rodape p {
    font-size: 40px;
}

/*
  Tipos de energia
*/
/*
  IMAGEM ENERGIA-SOLAR
*/  
.Solar {
    background: url("./IMG/Casa_com_placa_solar.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;    
}

h4 {
    color: #4D780C;
    font-size: 20px;
    border: none;
    text-align: center;
}

/* 
    LISTA DE ENERGIA LIMPA
*/    
.wrapper li {
    list-style-type: circle;
    display: list-item;
    padding: 10px;
}

/*
   Imagem energia fotovoltaica
*/

.Fotovolt {
    background-image: url("./IMG/esquema-sistema-solar-fotovoltaico.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;    

}

/*
   ENERGIA EÓLICA
*/

/*
   IMAGEM ENERGIA EÓLICA
*/
.Eólica {
    background-image: url("./IMG/paisagem_catavento.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;    
}

/*
  IMAGEM TURBINA
*/

.Turbina {
    background-image: url("./IMG/funcionamento_turbina_eólica.svg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
  Imagem Usina hidrelétrica
*/

.Hidra {
    background-image: url("./IMG/landscape-sea-water-pier-river-environment-696594-pxhere.com.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain; 
}

/*
   IMAGEM FUNCIONAMENTO HIDRELÉTRICA
*/

.Hidraesquema {
    background-image: url("./IMG/Hydroelectric_dam.png");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain; 
}

/*
  IMAGEM BIOMASSA
*/

.bio {
    background-image: url("./IMG/Biomassa.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain; 
}

/*
  Imagem Geotérmica
*/

.geo {
    background-image: url("./IMG/steam-vehicle-iceland-energy-power-plant-geothermal-536258-pxhere.com.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
  Funcionamento usina geotérmica
  */
.geofuncionamento {
    background-image: url("./IMG/funcionamento_geotérmica.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
   Usina maremotriz
*/

.mare {
    background-image: url("./IMG/energia-maremotriz-1.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
   Funcionamento Usina maremotriz
*/

.mareusina {
    background-image: url("./IMG/Funcionamento_energiaondas.png");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
   FIM DOS TIPOS DE ENERGIA :)

/*
  FUTURO DA ENERGIA ELÉTRICA
*/

.nuck {
    background-image: url("./IMG/usina_chernobyl.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}


.funcionamento {
    display: flex;
    justify-content: center;
}

.fissao {
    margin: 50px;
    position:relative;
    text-align: center;
}

.tokamak {
    background-image: url("./IMG/Reator fusão.jpg");
    background-position: center;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

.iter {
    background-image: url("../IMG/iter reator.jpg");
    background-position: center;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*SOBRE*/
.assuntotitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.assunto {
    display: flex;
    justify-content: center;
}

label {
    padding: 10px;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 120px;
    width: 400px;
}

.btninput {
    height: 40px;
    width: 87px;
}